* {
    margin: 0%;
    padding: 0%;
}

.container {
    background-color: sandybrown;
    min-height: 100vh;

    .navbar {
        display: flex;
        border-bottom: solid orangered;
        background-color: orangered;
        height: 70px;
        color: antiquewhite;
        justify-content: space-evenly;
        padding-top: 20px;

        .logo {

            i {
                font-size: 40px;

            }
        }

        a {
            font-size: 25px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: antiquewhite;
        }

        #ho {
            padding-left: 600px;
        }
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 100px;
        gap: 50px;

        .tit {
            width: 85%;

        }

        .tit h3 {
            margin-bottom: 5px;
            font-size: 16px;
            text-transform: capitalize;
        }

        .tit h1 {
            margin-bottom: 5px;
            font-size: 36px;
            text-transform: capitalize;

        }

        .tit h2 {
            margin-bottom: 5px;
            font-size: 24px;
            text-transform: capitalize;

        }

        .tit p {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 1.6;
            text-transform: capitalize;

        }


        .img {
            width: 85%;
            display: flex;
            justify-content: center;
        }

        .img img {
            width: 300px;
            height: auto;
            border-radius: 20px;
        }
    }

    .ico {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .footer1 {
        margin-top: 40px;
        text-align: center;
        color: antiquewhite;
    }



    .matter {
        padding: 60px 20px;
        display: flex;
        gap: 50px;
        width: 70%;
        margin-left: 15%;
        padding-top: 50px;

        img {
            height: 200px;
            width: 200px;
            border-radius: 40%;
        }

        p {
            display: flex;
            flex-direction: column;
            font-size: 20px;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 70%;
            text-align: justify;
            padding: 20px;
        }
    }

    .footer {
        color: antiquewhite;
        text-align: center;

        a {
            font-size: 30px;
            color: rgb(1, 4, 27);
            margin-right: 40px;
        }
    }

    #contact {
        width: 100%;
        background-color: sandybrown;
        display: flex;
        flex-direction: row;

        margin-right: 250px;

        .tet {
            padding-top: 30px;
            margin-left: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: justify;

            p {
                width: 70%;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            }

            a {
                font-size: 150px;
                margin-left: 40px;
            }
        }

        h1 {
            text-align: center;
            text-transform: capitalize;
            text-decoration: underline;
            font-size: 30px;
            background-color: sandybrown;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .det {
            padding-top: 25px;
            margin-right: 300px;

            div {
                padding: 10px;


                .fill {
                    font-size: 25px;
                    text-transform: capitalize;

                }

                #gender {
                    font-style: italic;
                    font-size: 10px;

                }

            }

            #done {
                text-align: center;
                color: sandybrown;
                padding-bottom: 20px;
            }

            .but {
                text-decoration: underline;

                background-color: sandybrown;
                border-radius: 25px;

                a {
                    color: black;
                    text-decoration: none;
                    border-radius: 30px;
                }
            }
        }
    }
}